@font-face{
	font-family: 'hk-bold';;
	src: url('fonts/hkgrotesk-bold-webfont.woff') format('woff'),
	     url('fonts/hkgrotesk-bold-webfont.woff2') format('woff')
}

@font-face{
	font-family: 'hk-light';;
	src: url('fonts/hkgrotesk-light-webfont.woff') format('woff'),
	     url('fonts/hkgrotesk-light-webfont.woff2') format('woff')
}

@font-face{
	font-family: 'hk-medium';;
	src: url('fonts/hkgrotesk-medium-webfont.woff') format('woff'),
	     url('fonts/hkgrotesk-medium-webfont.woff2') format('woff')
}

@font-face{
	font-family: 'hk-regular';;
	src: url('fonts/hkgrotesk-regular-webfont.woff') format('woff'),
	     url('fonts/hkgrotesk-regular-webfont.woff2') format('woff')
}

footer{
	padding: 2em 0 1em;
}

footer h5{
	font-size: 1.33rem;
	font-weight: 700;
}

footer ul{
	margin: 0;
}

footer ul li{
	list-style: none;
	font-size: .8em;
}

footer ul li a{
	color: #383838;
}

footer .brand-center{
	padding: 2em 0 0;
}

footer .copyright{
	margin-top: 2em;
}

html, body, form{
	height: 100%;
	padding: 0px;
	font-size: 18px;
}

h1, .button{
  font-family: 'hk-bold', helvetica, arial, sans-serif;
  line-height: 1.1em;
}

h2{
  font-family: 'hk-regular', helvetica, arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

h3{
  font-family: 'hk-bold', helvetica, arial, sans-serif;
  font-size: 1.3em;
  margin-top: 1em;
}
i{
  font-size: 1.3em;
  margin-top: -4px;
}

p{
  font-family: 'hk-regular', helvetica, arial, sans-serif;
  font-size: .9em;
}

#benefits-content, #howto-content{
  padding: 2em  0 0;
  background: #fff;
}

#benefits-content h2{
	color: #EF6954 !important;
}

#benefits-content .b-black{
	border-color: #EF6954;
}

#benefits-content .bg-guitar{
  background: url('../img/bg-2.png') no-repeat ;
  height: 549px;
  width: 419px;
  position: absolute;
  float: right;
  right: 0;
}


#faqs-content{
	padding: 0 0 2em 0
}


#faqs-content a{
	color: #fff;
}


#faqs-content .button{
	display: block;
	margin: 2em auto 1em;
	float: none;
	width: 260px;
}

#faqs-content h4{
	font-size: 1rem;
	font-weight: 700;
}


#faqs-content p{
	font-size: 1em;
}


#faqs-content ul{
	padding: 0 c1em 1em 1em;
}

#faqs-content ul li{
	border: 2px solid #fff;
	border-top: 0;
}
	#faqs-content ul li:first-child{
			border-top: 2px solid #fff;
			border-radius: 6px 6px 0 0;
	}

	#faqs-content ul li:last-child{
			border-radius: 0 0 6px 6px ;
	}

#menu-content{
  background: transparent;
}

#menu-content ul li a{
  color: #fff;
  text-transform: uppercase;
  font-size: .85em;
  font-family: 'hk-bold', helvetica, arial, sans-serif;
  transition: 0.25s ease-out;
  margin-top: 4px;
}

#main-content{
  background: #000 url('../img/background-main-clases-de-guitarra.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  height: 88%;
  min-height: 600px;
  max-height: 700px;
}

#main-content h1, #main-content h2, #prices-content h2, #faqs-content h2{
  color: #fff;
}

#copy{
  margin-top: 4em;
}

#howto-content h2, #stories-content h2, #benefits-content h2, #prices-content h2, #faqs-content h2{
  color: #F5B019;
	font-size: 2em;
	font-family: 'hk-bold', helvetica, arial, sans-serif;
	margin-bottom:  0em;
}

#howto-content .bg-guitar{
  background: url('../img/bg.png') no-repeat ;
  height: 549px;
  width: 419px;
  position: absolute;
  float: right;
  right: 0;
}

#prices-content{
	padding: 2em 0;
}

#prices-content, #faqs-content{
	background: #383838;
	color: #fff;
}

#prices-content h2, #faqs-content h2{
	color: #fff;
	margin-bottom: 1em;
}



#stories-content{
  background: #22252B url('../img/testimoniales.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  padding: 4em 0;
  background-position: center;
  height: 100%;
}

#stories-content a{
  color: #fff;
}

#stories-content h2{
  color: #fff;
  margin-bottom: 1em;
}

#stories-content h4{
  font-family: 'hk-bold', helvetica, arial, sans-serif;
  font-size: 2.6em;
  line-height: 12px;
  text-align: center;
}

#stories-content h4 span{
  font-size: 15px;
}

#stories-content ul{
	margin: -.3em 0 0 0;
}
#stories-content ul li{
	display: inline-block;
	font-size: 16px;
	margin: 0;
	letter-spacing: -.3em;
	color: #F5B11A;
}
#stories-content .video-testimonial{
  background: url('../img/video-testimonial.png') no-repeat;
  height: 481px;
  width: 525px;
  position: absolute;
  float: left;
  left:  0;
}

#stories-content .b-black{
	margin-top: -.5em;
}
.b-main{
  margin-left: 16px;
}

.b-black{
  color: #383838;
  margin-top: .6em;
  width: 16em;
}
.button{
  border: 4px solid #F5B019;
  border-radius: 100px;
  background: transparent;
  font-size: 1em ;
}

.button:hover{
  background:transparent;
}

.button-down{
	background: url('../img/button-down.svg') no-repeat;
	height: 71px;
	width: 70px;
	position: absolute;
	bottom: 2.3em;
	left: 21%;
}
.brand-center{
	display: block;
	margin: 0 auto;
}

.bxslider p{
	letter-spacing: normal;
	color: #fff;
	font-size: 1em;
}

.bxslider .stars li{
	letter-spacing: .4em !important;
}

.bx-wrapper .bx-viewport, .bx-wrapper .bx-loading {
	box-shadow: none;
	border: 0;
	padding: 2em 0;
	background: transparent;

}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
}

.container{
	margin: 0 auto;
	max-width: 960px;
}

.callout{
  border: 0;
  background: transparent;
  padding: 1rem 0rem;
}

.icon-brainsessionshq, .icon-brainsessionsamp{
  display: block;
  text-align: center;
  margin: 0em auto -.1em;
  z-index: 1;
  position: relative;
}

.icon-brainsessionshq{
  background: url('../img/brainsessionhq.svg') no-repeat;
	height: 187px;
  width: 185px;
}
.icon-brainsessionsamp{
	background: url('../img/brainsessionamp.svg') no-repeat;
	height: 165px;
	width: 207px;
	margin-bottom: -5px;
}


.is-accordion-submenu-parent > a::after{
	 border-color: #F16956 transparent transparent;
}


.pricing-table {
  background: #F9FAFB;
	border-radius: 10px;
	box-shadow: 0 9px 10px 0 rgba(0,0,0,0.20);
	}
  .pricing-table li {
		color:#333333;
		font-family: 'hk-regular', helvetica, arial, sans-serif;
		font-size: 1em;
    padding: .2em; }
		.pricing-table li:first-child {
      padding:  .5em; }
    .pricing-table li:last-child {
      border-bottom: 0; }
	.pricing-table .fi-check{
		color: #3EBFC0;}
	.pricing-table .fi-x{
		color: #EF6954;}
	.pricing-table .lessons{
		font-family: 'hk-bold', helvetica, arial, sans-serif;
		margin-top: .5em;
	}
	.pricing-table .month{
		font-size: .8em;
		font-family: 'hk-bold', helvetica, arial, sans-serif;
		margin-top: -1.6em;
	}
	.pricing-table .title {
		font-family: 'hk-bold', helvetica, arial, sans-serif;
		background-color: #383838;
    color: #fff;
    font-size: 2em;
    border-bottom: 0;
		padding: 0;}
  .pricing-table .price {
		font-family: 'hk-bold', helvetica, arial, sans-serif;
    background-color: #F9FAFB;
    color: #333333;
    font-size: 2em;
    border-bottom: 0;
	 }
  .pricing-table .button {
			border: 4px solid #333;
			color:#333;
			width: 80%;
			margin: 2em 0 1.5em;
			font-size: 1.1em;
			}
.pricing-star{
	background: #EF6954;
	color: #fff;
	margin-top: 2em;
}
	.pricing-star .price, .pricing-star .title, .pricing-star li {
		background: #EF6954;
		color: #fff;
		border-radius: 6px;
	}
	.pricing-star .price{
		margin-top: -.5em;
	}
	.pricing-star .button{
		border: 4px solid #fff;
		color: #fff;
	}
